<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/portfolio">Portfolio</a></li>
	        		<li><a href="/certifications">Certifications</a></li>
	        		<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:sahilkumarjkt@gmail.com">Email</a></li>
	        		<li><a href="https://github.com/sahilk98">Github</a></li>
				</ul>
			<p style = 'font-size:15px'>&copy; Sahil Kumar 2021</p>
			</footer>
		</body>
	</html>
